.pulse {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  border-radius: 100%;
  animation: pulseScaleOut 1s infinite ease-in-out;
}

@keyframes pulseScaleOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
